body{
	background-color:#FDFAF6;
}
#wrapper {
  margin: auto;
  width:1170px;
  font-family: Sans-Serif;
}

#logo {
  width: 50%;
  margin: 0 auto 10px;
  border: 10px solid #C41231;
}

#logo img {
  max-height: 120px;
  margin: auto;
  display: block;
  padding: 10px 0;
}

#nav {
  background-color: #C41231;
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 5px 0;
}

#nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  color:white;
  font-family:Arial;
  padding: 3px 20px;
  background-color: #C41231;
}
#nav a:hover{
	color:black;
	border-bottom:2.5px solid #231F20;
}

#content {
  min-height: 514px;
  margin: 10px auto;
  padding-top: 10px;
  width: 90%;
}
#checkout-info{
	width:70%;
	margin:0 auto;
}

.col{
	float:left;
}
#customer-details{
	border:1px solid #D7D7D7;
	padding:0 10px;
}
#customer-details h2{
	border-bottom: 1px solid #D7D7D7;
}
.inline-input{
	float:left;
	width:50%;
}
#customer-address{
	width:377px;
	resize:none;
}
.customer-details-row{
	margin-bottom:20px;
}
#payment-method img{
	height:58px;
	padding: 0px 10px;
}
#payment-method .inline-input{
	margin-top:5px;
	width:22%;
}
#payment-method label > input{
	visibility:hidden;
	position: absolute; 
}
#payment-method label > input + img{
  cursor:pointer;
  border:2px solid transparent;
}
#payment-method label > input:checked + img{ 
  border:2px solid #C41231;
}
#order-details{
	width:40%;
	text-align:center;
	margin-left:10px;
	border: 1px solid #D7D7D7;
}
#order-details h2{
	background-color:black;
	color:white;
	margin:0;
	padding:10px;
	margin-bottom:10px;
}

#order-details table{
	width:100%;
	background-color:#FBFBFB;
	color:black;
	padding:0 5px;
	border-collapse:collapse;
}
#order-details table .right{
	text-align:right;
	width:10%;
}
#order-details table .left{
	text-align:left;
}
#order-details table th{
	padding:5px 10px;
	font-size:18px;
	font-weight:normal;
}
#order-details table td{
	font-size:16px;
	padding:5px 15px;
	height:20px;
}
.blank-row{
	height:20px;
}
.cancel-button{
	height:50%;
	float:right;
	margin-top:5px;
}
#place-order{
	background-color:#C41231;
	margin:0 15px;
}
#place-order a{
	outline:none;
	background-color:#C41231;
	color:white;
	border:none;
	display:block;
	text-transform:uppercase;
	width:100%;
	margin:10px auto;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	
}
#submit-order a:active{
	transform:scale(1.1,1.1);
}

#footer {
  background-color: #231F20;
  text-align: center;
  padding: 5px 0;
  color:white;
}
