body{
	background-color:#FDFAF6;
}
#wrapper {
  margin: auto;
  width:1170px;
  font-family: Sans-Serif;
}

#logo {
  width: 50%;
  margin: 0 auto 10px;
  border: 10px solid #C41231;
}

#logo img {
  max-height: 120px;
  margin: auto;
  display: block;
  padding: 10px 0;
}

#nav {
  background-color: #C41231;
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 5px 0;
}

#nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  color:white;
  font-family:Arial;
  padding: 3px 20px;
  background-color: #C41231;
}
#nav a:hover{
	color:black;
	border-bottom:2.5px solid #231F20;
}

#content {
  height: 514px;
  margin: 0px auto;
  padding-top: 10px;
  width: 90%;
}

#slideShow {
  padding: 15px 0;
  height: 440px;
}

#aboutUs {
  text-align: center; 
}

.imgSlideShow {
  display: none;
  height:440px;
  width:90%;
  margin:auto;
}

#slide-buttons {
  text-align: center;
  padding-bottom:15px;
}
#slide-buttons button{
  padding:10px;
  margin-left:15px;
  border-radius:30px;
  border:1px solid #231F20;
  
}
#slide-buttons button:active{
  background-color:#231F20;
}
#slide-buttons button:focus{
  outline: 0;
}

#footer {
  background-color: #231F20;
  text-align: center;
  padding: 5px 0;
  color:white;
}
