body{
	background-color:#FDFAF6;
}
#wrapper {
  margin: auto;
  width:1170px;
  font-family: Sans-Serif;
}

#logo {
  width: 50%;
  margin: 0 auto 10px;
  border: 10px solid #C41231;
}

#logo img {
  max-height: 120px;
  margin: auto;
  display: block;
  padding: 10px 0;
}

#nav {
  background-color: #C41231;
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 5px 0;
}

#nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  color:white;
  font-family:Arial;
  padding: 3px 20px;
  background-color: #C41231;
}
#nav a:hover{
	color:black;
	border-bottom:2.5px solid #231F20;
}

#content {
  height: 514px;
  margin: 10px auto;
  padding-top: 10px;
  width: 90%;
}
#my-order-email{
	text-align:center;
}
#my-order-email p{
	font-size:50px;
	font-weight:bold;
}
#my-order-email-form #email{
	font-size:30px;
	margin:10px;
	padding:0 5px;
}
#my-order-email-form input{
	vertical-align:middle;
}
#my-order-email-form #submit{
	width:30px;
	height:26px;
}
#my-order-info{
  width:70%;
  margin:0 auto;
}
#my-order-info #order-summary{
	width:60%;
}
#my-order-info #delivery-status{
	width:30%;
}
#order-summary{
	text-align:left;
	border:1px solid black;
	padding-left:5px;
	padding-right:5px;
}
#order-summary h2{
	margin:5px 0;
}
#order-summary table{
	width:100%;
	border-collapse:collapse;
}
#order-summary #first-row{
	border-top:1px solid black;
}
#order-summary #first-row th{
	padding-top:5px;
}
#order-summary table th{
	font-weight:normal;
	font-size:17px;
}
#order-summary table td{
	font-size:15px;
	padding:10px;
}
#order-summary table .item-detail-row td{
	padding:5px 10px;
}
#order-summary table th p{
	margin:0px;
}
#order-summary .blank-row{
	height:20px;
}
#order-summary #net-total{
	border-top:1px solid black;
}
#order-summary .left{
	width:70%;
}
#order-summary .right{
	width:10%;
	text-align:right;
}
#my-order-info .col{
	float:left;
}
#delivery-status{
	margin-left:38px;
	border:1px solid black;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}
#delivery-status h2{
	margin:5px 0;
}
#delivery-status p{
	border-top:1px solid black;
	margin:0px;
	padding-top:5px;
	padding-bottom:5px;
}
#footer {
  background-color: #231F20;
  text-align: center;
  padding: 5px 0;
  color:white;
}
